@model pweb_eCarSharing.Models.NewVehicleViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Add New Vehicle:</h2>
        <hr />

        <div class="form-group">
            <label>Vehicle's current station ID number</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.currentStationId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.currentStationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Vehicle Type (SCOOTER/BIKE/MOTORBIKE/FOURWHEELED)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.vehicleType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicleType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>
                Is the Vehicle small?  ->
                @Html.EditorFor(model => model.isSmallSized)
                @Html.ValidationMessageFor(model => model.isSmallSized, "", new { @class = "text-danger" })
            </label>
        </div>

        <div class="form-group">
            <label>
                Is it destined for tourism?  ->
                @Html.EditorFor(model => model.isForTourism)
                @Html.ValidationMessageFor(model => model.isForTourism, "", new { @class = "text-danger" })
            </label>            
        </div>

        <div class="form-group">
            <label>Rental price per minute?</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.pricePerMinute, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pricePerMinute, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>The vehicle's current battery percentage:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.remainingBattery, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.remainingBattery, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Vehicle" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "AvailableVehicleList")
</div>
