@model IEnumerable<pweb_eCarSharing.Models.Vehicle>

    <table class="table">
        <h2>Vehicles in Use</h2>
        <tr>
            <th>
                <label>Vehicle ID</label>
            </th>
            <th>
                <label>Current Station ID</label>
            </th>
            <th>
                <label>Vehicle Type</label>
            </th>
            <th>
                <label>Small or Big?</label>
            </th>
            <th>
                <label>Tourism or Comercial?</label>
            </th>
            <th>
                <label>Price per Minute (PPM)</label>
            </th>
            <th>
                <label>Vehicle's remaining battery</label>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.currentStation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vehicleType)
                </td>
                <td>
                    @if (item.isSmallSized)
                    {<label>Small</label>}
                    @if (!item.isSmallSized)
                    {<label>Big</label>}
                </td>
                <td>
                    @if (item.isForTourism)
                    {<label>Tourism</label>}
                    @if (!item.isForTourism)
                    {<label>Comercial</label>}
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pricePerMinute) €
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.remainingBattery) %
                </td>
            </tr>
        }

    </table>
