@model IEnumerable<pweb_eCarSharing.Models.Vehicle>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vehicleOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currentStation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vehicleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isSmallSized)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isForTourism)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inUse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pricePerMinute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remainingBattery)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vehicleOwner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currentStation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vehicleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isSmallSized)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isForTourism)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inUse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pricePerMinute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remainingBattery)
        </td>
    </tr>
}

</table>
